body {
  background-image: url("pexels-pixabay-53594.jpg");
  font-family: "Montserrat", sans-serif;
}
.weather-app {
  display: block;
  background: #d1effd;
  opacity: 0.9;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}
header {
  border-bottom: 2px;
  color: lightgray;
  padding: 10px;
}

.search-form-input {
  background-color: #d1e5ff;
  border: none;
  border-radius: 10px;
  width: 65%;
  padding: 10px;
  font-size: 16px;
}
.search-form-button {
  background-color: #6198fc;
  color: #d1e5ff;
  border: none;
  border-radius: 10px;
  width: 30%;
  padding: 10px;
  font-size: 16px;
}

.all-weather {
  display: flex;
  justify-content: space-between;
  border-top: #93a7d2 1px solid;
}

.weather-app-city {
  margin: 5px;
  font-size: 36px;
  line-height: 1.5;
  color: #4072e1;
  padding: 15px;
}

.weather-app-date {
  display: flex;
}

.weather-app-details {
  font-size: 16px;
  line-height: 1.5;
  color: #4072e1;
  margin: 10px;
}

.temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 40px;
  margin-right: 20px;
  margin-top: 0px;
}

.weather-app-temperature {
  font-size: 80px;
  margin-right: 20px;
  font-weight: bold;
  color: #073ac5;
}

.temperature-value {
  font-size: 40px;
  margin-top: 20px;
  color: #073ac5;
}

strong {
  font-weight: bold;
  color: #93a7d2;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  font-size: 18px;
  color: #4072e1;
}

.forecast-temperature-min {
  font-size: 18px;
  color: #93a7d2;
  text-align: center;
}

.forecast-temperature-max {
  font-size: 18 px;
  color: #93a7d2;
  opacity: 0.5;
  text-align: center;
}

a {
  color: #073ac5;
}

footer {
  border-top: #93a7d2 1px solid;
  font-size: 12px;
  padding: 20px;
  text-align: center;
  color: black;
}
